<div class="modal fade" id="myBranch" role="dialog" ng-controller="branchController">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Oficinas</h4>
         </div>
         <div class="modal-body">
            <table class="table">
               <thead>
                  <tr>
                     <th>Nombre</th>
                     <th>Teléfonos</th>
                     <th>Email</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="branch in branchs">
                     <td>{{branch.name}}</td>
                     <td>{{branch.phone_1}} - {{branch.phone_2}} - {{branch.phone_3}}</td>
                     <td>{{branch.email}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div id="newBranch" class="col-md-12">
            <form>
               <div class="input-group input-group-sm">
                  <label for="nameBranch">Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" id="nameBranch" ng-model="formData.name">
               </div>
               <div class="input-group input-group-sm">
                  <label for="addressBranch">Dirección</label>
                  <input type="text" class="form-control" placeholder="Dirección" id="addressBranch" ng-model="formData.address">
               </div>
               <div class="input-group input-group-sm">
                  <label for="phone1Branch">Teléfono</label>
                  <input type="text" class="form-control" placeholder="Teléfono" id="phone1Branch" ng-model="formData.phone_1">
               </div>
               <div class="input-group input-group-sm">
                  <label for="phone2Branch">Teléfono</label>
                  <input type="text" class="form-control" placeholder="Teléfono" id="phone2Branch" ng-model="formData.phone_2">
               </div>
               <div class="input-group input-group-sm">
                  <label for="phone3Branch">Teléfono</label>
                  <input type="text" class="form-control" placeholder="Teléfono" id="phone3Branch" ng-model="formData.phone_3">
               </div>
               <div class="input-group input-group-sm">
                  <label for="emailBranch">Email</label>
                  <input type="email" class="form-control" placeholder="Email" id="emailBranch" ng-model="formData.email">
               </div>
               <div class="checkbox">
                  <label>
                     <input type="checkbox" ng-model="formData.is_main"> Oficina principal
                  </label>
               </div>
               <button type="button" class="btn btn-primary" ng-click="createBranch()">Guardar</button>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-success" id="branchNew">Nuevo</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
         </div>
      </div>
   </div>
</div>
<script>
   $(document).ready(function(){
      $('#newBranch').hide();

      $("#branchNew").on( "click", function() {
         $('#newBranch').show();
      });
   });
</script>