<div class="modal fade" id="myBranch" role="dialog" ng-controller="branchController">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Oficinas</h4>
         </div>
         <div class="modal-body">
            <div class="checkbox" ng-repeat="branch in branchs">
	           <label>
    	       <input type="checkbox" ng-click="deleteTodo(branch._id)"> {{ branch.name }}
	           </label>
            </div>
         </div>
         <div id="newBranch">
            <form>
               <div class="form-group">
                  <input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="formData.name">
               </div>
               <button type="button" class="btn btn-primary" ng-click="createBranch">Guardar</button>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-success">Nuevo</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
         </div>
      </div>
   </div>
</div>