<div class="modal fade" id="myBranch" role="dialog" ng-controller="branchController">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Oficinas</h4>
         </div>
         <div class="modal-body">
            <div class="checkbox" ng-repeat="branch in branchs">
	           <label>
    	       <input type="checkbox" ng-click="deleteTodo(branch._id)"> {{ branch.name }}
	           </label>
            </div>
         </div>
         <div id="newBranch">
            <form>
               <div class="input-group input-group-sm">
                  <label for="nameBranch">Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" id="nameBranch" ng-model="formData.name">
                  <label for="addressBranch">Dirección</label>
                  <input type="text" class="form-control" placeholder="Dirección" id="addressBranch" ng-model="formData.address">
                  <label for="phonesBranch">Teléfonos</label>
                  <input type="text" class="form-control" placeholder="Teléfono" id="phonesBranch" ng-model="formData.phone_1">
                  <input type="text" class="form-control" placeholder="Teléfono" id="phonesBranch" ng-model="formData.phone_2">
                  <input type="text" class="form-control" placeholder="Teléfono" id="phonesBranch" ng-model="formData.phone_3">
                  <label for="emailBranch">Email</label>
                  <input type="email" class="form-control" placeholder="Email" id="emailBranch" ng-model="formData.email">
                  <div class="checkbox">
                     <label>
                        <input type="checkbox" ng-model="formData.is_main"> Oficina principal
                     </label>
                  </div>
               </div>
               <button type="button" class="btn btn-primary" ng-click="createBranch">Guardar</button>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-success" id="branchNew">Nuevo</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
         </div>
      </div>
   </div>
</div>