<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
   <div class="wrapper">
      <% include ../partials/nav.ejs %>

      <!-- Page Content Holder -->
      <div id="content">
<nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Open Sidebar</span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
         
      </div>
<div id="map"></div>
   </div>

<div class="overlay"></div>


<script>      
   var map;
   function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 4.65, lng: -74.1084},
         zoom: 12,
         streetViewControl: false
      });
   }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_pwJMzM3GRzJAFhIYOeThYGpIVp1W5pg&callback=initMap" async defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
   var socket = io();
   var el = document.getElementById('timeLocal');
   socket.on('time', function(timeString) {
      el.innerHTML = timeString;
   });
   
   $(document).ready(function(){
      getWeather();
      setInterval(getWeather, 600000);

      $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
   });

   function getWeather(){
      $.simpleWeather({
         location: 'Bogota, CO',
         unit: 'c',
         success: function(weather) {
            html = weather.city+', '+weather.temp+'&deg;'+weather.units.temp;            
  
            $("#weather").html(html);
         },
         error: function(error) {
            $("#weather").html('<p>'+error+'</p>');
         }
      });
   }
</script>
<% include ../partials/footer.ejs %>
</body>
</html>
