<!DOCTYPE html>
<html ng-app="angularWaste">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
   <div class="wrapper">
      <% include ../partials/nav.ejs %>
      <% include ../partials/forms.ejs %>

      <!-- Page Content Holder -->
      <div id="content">
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                     <i class="glyphicon glyphicon-align-left"></i>
                     <span>Menú</span>
                  </button>
               </div>

               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                     <li><a href="#" data-toggle="modal" data-target="#myBranch">Oficinas</a></li>
                     <li><a href="#">Page</a></li>
                     <li><a href="#">Page</a></li>
                     <li><a href="#">Page</a></li>
                  </ul>
               </div>
            </div>      
         </nav>
         <% include ../partials/footer.ejs %>  

         <%- body %>
      </div>
   </div>
   <div class="overlay"></div>
</body>
</html>
